{% extends "CandidatosMaestria/BaseCandidatos.html" %}

{% block sidebar %}
<div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="{% url 'CandidatosMaestria:index'%}">TecNM </a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        

        
        <li class="nav-item">
          <a class="nav-link active">Formatos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'CandidatosMaestria:ListarCursos'%}">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'CandidatosMaestria:Entrevista'%}">Entrevista</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'CandidatosMaestria:Logout'%}">Cerrar Sesion</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
{% endblock sidebar %}

{% block perfil %}
<div id="inner">
    {% if aspirante %}
        <div id="hd">
            <div class="yui-gc">
                <div class="yui-u first">
                    <h1>{{ aspirante.nombre }} {{ aspirante.apellidopaterno}} {{ aspirante.apellidomaterno}}</h1>
                    <h2>Aspirante, {{aspirante.estatusaspirante}}</h2>
                </div>

                <div class="yui-u">
                    <div class="contact-info">
                        
                        <h3>{{aspirante.email}}, {{aspirante.curp}}</h3>
                        
                        <h3></h3>
                        <br>
                        <h3>{{aspirante.periodo}}</h3>
                    </div><!--// .contact-info -->
                </div>
            </div><!--// .yui-gc -->
           

        </div><!--// hd -->

        {% else %}
        <span class="login100-form-title p-b-33">
            Account Login
        </span>
        {% endif %}
    </div>
{% endblock perfil %}

